<div class="row">
  <div class="col-12 col-md-3 bg-warning">

  </div>
  <div class="col-12 col-md-3 bg-warning">

  </div>
  <div class="col-12 col-md-3">
    <div class="d-flex flex-wrap align-items-center">
      <app-relacion-litigante
        class="mr-4"
        [titulo]="'Abog'"
        cantidad="1">
      </app-relacion-litigante>
      <app-relacion-litigante
        class="mr-4"
        [titulo]="'Rep'"
        cantidad="16">
      </app-relacion-litigante>
      <app-relacion-litigante
        class="mr-4"
        [titulo]="'Del'"
        cantidad="200">
      </app-relacion-litigante>
      <app-relacion-litigante
        class="mr-4"
        [titulo]="'Dem'"
        cantidad="1000">
      </app-relacion-litigante>
    </div>
  </div>
  <div class="col-12 col-md-3 bg-warning">

  </div>
</div>
